extends layout

// About page
block content
  .container
    .col-md-8
      .row
        include ./bannerAndNav.jade
        
        h4 About us
        p.
          The organization was founded in 

include ./footer.jade
