extends layout

// About page
block content
  .container
    .col-md-8
      .row
        include ./bannerAndNav.jade
        
        h4 About us
        p.
          Although not officialy founded until 1903, the organization has
          been publishing since 1886. The founder, Anton Chemsworth, was
          initially a book salesman but later in life studied geology
          on the side and fraternized with other geologists.
        figure
          img(src='../img/founder.jpg', alt='An old 19th century portrait of Anton Chemsworth', width='300')
          figcaption Anton Chemsworth, founder of the Amateur Geologist Federation 

include ./footer.jade
