// Basic setup of banner/carousel
div(id='banner-carousel', class='carousel slide', data-ride='carousel', data-interval='15000')
  ol(class='carousel-indicators')
    li(data-target='#banner-carousel', data-slide-to='0', class='active')
    li(data-target='#banner-carousel', data-slide-to='1')
    li(data-target='#banner-carousel', data-slide-to='2')

  // Objects/images to be placed in carousel    
  div(class='carousel-inner')
    div(class='item active')
      img(src='../img/valley.jpg')
      div(class='carousel-caption')
        h2 AGF
    div(class='item')
      img(src='../img/marble.jpg')
      div(class='carousel-caption')
        h2 AGF
    div(class='item')
      img(src='../img/magma.jpg')
      div(class='carousel-caption')
        h2 AGF
      
// Navigation bar    
ul(class='nav nav-pills')
  li(class='presentation')
    a(href='/') Home
  li(class='presentation')
    a(href='/about') About
  li(class='presentation')
    a(href='#') Map
  li(class='presentation')
    a(href='#') Submit
