extends layout

// Home page
block content
  .container
    .col-md-8
      .row
        include ./bannerAndNav.jade
          
        h4 Welcome to the home page of the Amateur Geologist Federation.
        p. 
          To get to know us better, visit our "About" page for further 
          information regarding our organization and it's functions.
        p.
          We are currently hosting a map that shows the location 
          and magnitude for the most recent earthquakes in Iceland. If you 
          wish to view this map, visit our "Map" page.
        p. 
          If you are an amateur geologist and wish to add your own seismic
          observations to the map, head on over to the "Submit" page and
          post your info there.

  // Adds footer containing CDN connections to necessary scripts
  include ./footer.jade
