extends layout

block content
  .container
    .col-md-8
      h1 AGF
      ul(class='nav nav-pills')
        li(class='presentation')
          a(href='/') Home
        li(class='presentation')
          a(href='#') About
        li(class='presentation')
          a(href='#') Map
        li(class='presentation')
          a(href='#') Submit

  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js", integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==", crossorigin="anonymous")
