doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title The Amateur Geologist Federation
    link(rel='stylesheet', href="../public/stylesheets/style.css")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==", crossorigin="anonymous")
  body
    .container 
      .col-md-8
        .row
          // Section containing navigation menu and banner
          include ./bannerAndNav.jade
          
          block content
        
    // Adds footer containing CDN connections and local scripts      
    include ./footer.jade