extends layout

// Page containing map
block content
  .container 
    .col-md-8
      .row
        // Section containing navigation menu and banner
        include ./bannerAndNav.jade
        
        h4 Seismic map of Iceland
        
        h1 Map here, plx
        
  // Adds footer containing CDN connections and local scripts      
  include ./footer.jade
