extends layout

// Page containing map
block content
  h4 Seismic map of Iceland
        
  h1 Map here, plx
  
  #map
  
  script(src="../public/javascripts/map.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdOFizGF7LrYOyNztioh9k0sL3cODbd18&callback=initMap" async defer)
